/* .tutorialContainer_popcatChan {
  position: relative;
  margin-bottom: 8px;
} */

.listItem_popcatChan {
  position: relative;
  margin: 0 0 8px;
  display: flex;
  justify-content: center;
  width: var(--custom-list-items-list-item-width);
}

.popcatChan-collapse {
  color: white !important;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  transition: border-radius .3s;
  outline: none;
  font-size: 15px;
  position: relative !important;
  text-align: center;
  overflow: hidden;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/popcat-normal.png");
}

.popcatChan-collapse:hover {
  border-radius: 30%;
}

.popcatChan-collapse:not(:hover) {
  border-radius: 100%;
  transition-duration: 0.5s;
}

.popcatChan-collapse:active {
  top:1px;
  transition-duration: 0.1s;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/popcat-active.png");
}

@keyframes popcatChan_landing {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.popcatChan-collapse {  
  animation: 0.3s ease-out popcatChan_landing;
}


div[class*="sidebar"] > section[class*="panels"]  > div[class*="container_"] > div[class*="avatarWrapper_"] {
  z-index: 1;
}






/* temporary */
div[class*="message_"] {
  padding-left: 10px !important;
}
div[class*="subtitleContainer"],
div[class*="message_"] > div[class*="contents"] > img[class*="avatar"],
div[class*="message_"] > div[class*="contents"] > img[class*="avatarDecoration"] {
  display: none !important;
}

div[class*="container"] > div[class*="base"] > div[class*="bar"] > div[class*="title"] > div[class*="title"] > div[class*="lineClamp1"] {
  cursor: pointer !important;
  color: var(--text-default);
}