.tutorialContainer__popcatChan {
  position: relative;
  margin-bottom: 8px;
}

.popcatChan-collapse {
  color: white !important;
  margin: auto;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  transition: border-radius .3s;
  outline: none;
  font-size: 15px;
  position: relative !important;
  text-align: center;
  overflow: hidden;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/popcat-normal.png");
}
  
.popcatChan-collapse:hover {
  border-radius: 30%;
}

.popcatChan-collapse:not(:hover) {
  border-radius: 100%;
  transition-duration: 0.5s;
}

.popcatChan-collapse:active {
  top:1px;
  transition-duration: 0.1s;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/popcat-active.png");
}

@keyframes popcatChan_landing {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.popcatChan-collapse {  
  animation: 0.3s ease-out popcatChan_landing;
}